/*
font-family: 'Indie Flower', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

body { 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  .App {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  
  h1 { 
    font-family: 'Oxygen', sans-serif;
  }
  
  h2 {
    margin: 0 0 5px 0;
    text-align: center;
  }
  
  .divider {
    max-width: 75%;
    border-bottom: 1px solid rgb(147 145 145);
    margin: 0 auto;
  }
  
  .emoji {
    padding-right: 10px;
  }

  .emoji.biweekly {
    padding-right: 9px;
  }

  .emoji img {
    width: 35px;
  }
  
  .services-block {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .services-block ul {
    padding-left: 0;
    list-style-type: none;
  }
  
  .services-block li:not(:last-of-type) {
    margin: 0 0 20px 0;
  }
  
  .services-section li {
    display: inline-block;
  }

  .services-frequency {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    white-space: nowrap;
  }

  .headline img {
    width: 100%;
  }
  
  .landscape-logo {
    display: none;
  }
  
  .default-logo {
    display: block;
  }
  
  .email-span {
    color: blue;
  }
  
  .contact-container {
    background: rgb(206 227 255);
    text-align: center;
    padding-bottom: 10px;
  }

  .contact-container h2 {
    padding-top: 15px;
  }

  .line-break-span {
    white-space: nowrap;
  }
  
  .footer-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: rgb(30, 30, 30);
    color: white;
    text-align: center;
  }

  .footer-container p {
    font-size: 20px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @media screen and (min-width: 500px) {
    .landscape-logo {
      display: block;
    }
  
    .default-logo {
      display: none;
    }
    
    .headline img {
    width: 80%;
    margin: auto;
    }

    h2:first-child {
        margin: 5px 0; 
    }

    .services-container, .contact-container {
      padding: 20px 0;
    }

    .contact-container h2 { 
        margin-top: 0;
    }

    .services-block {
        margin: auto;
        max-width: 75%;
    }

    li {
        padding: 20px;
    }

    .footer-container p {
      font-size: 25px;
    }
  }

  @media screen and (min-width: 550px) {

}

  @media screen and (min-width: 700px) {

    .emoji img {
      width: 50px;
    }

    .services-frequency {
      flex-direction: row;
  }
}
  
  @media screen and (min-width: 768px) {
    ul {
      display: flex;
    }  

    .services-block ul {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  @media screen and (min-width: 1000px) {
    .services-block ul {
      padding-left: 40px;
    }
  }

  @media screen and (min-width: 1365px) {
    .services-frequency {
      margin: 0 20px;
    }
  }
  